@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    Porvenir<br />
    800mts sureste escuela porvenir<br />
    <abbr title="Phone">P:</abbr>
   +(506)86554978
</address>

<address>
    <strong>Support:</strong>josuemora789@gmail.com<br />
</address>
